



    <div class="card">
        <a>
            <div class="card-grid">
                <div class="card-grid-left">
                    <img [className]="isUnlocked ? 'unlocked' : 'locked'" style="height: 120px; width: 120px; border-radius: 50%;" [attr.src]="'http://localhost:8080' + this.product.logo" alt="" (click)="this.startProduction()" >
                </div>
                <div class="card-grid-right">
                    <!--Body-->
                <div class="card-body">
                    <div class="card-title">
                        <h2>{{ product.name }}</h2>
                    </div>
                    <div class="card-subtitle">
                        <h3>Quantité : {{product.quantite}}</h3>
                    </div>
                    <div class="card-progressbar">
                        <mat-progress-bar [value]="progressbarvalue" 
                        style="height: 20px;width:200px; border-radius: 4px; margin-top: 10px; margin-bottom: 10px;">
                        </mat-progress-bar>
                    </div>
                    <div>
                        <button *ngIf="this.product.quantite > 0 && this._qtmulti <= this.maxBuyableQuantity && this._qtmulti !== 'MAX' " (click)="buy()" class="myButton">
                            {{this._qtmulti}} pour {{priceToBuyProducts}} infectées
                        </button>
                        <button *ngIf="this.product.quantite > 0 && this._qtmulti === 'MAX' || this.product.quantite > 0 && this._qtmulti > this.maxBuyableQuantity" (click)="buy()" class="myButton">
                            {{this.maxBuyableQuantity}} pour {{priceToBuyProducts}} infectées
                        </button>
                        <button [disabled]="this.money <= this.product.cout" *ngIf="this.product.quantite == 0" (click)="unlockProduct()" class="myButton">
                            Débloquer pour {{this.product.cout}} infectées
                        </button>

                    </div>
                </div>
            <!--/Body-->
                </div>
            </div>
    
    
        </a>
        
    </div>





    




    

