<div class='container'>
  <div id="navigation-bar">
    <nav>
      <ul>
        <li><img  style="height: 60px; width: 60px; border-radius: 50%;" [attr.src]="'http://localhost:8080' + this.world.logo" alt="" ></li>
        <li><a>{{world.name}}</a></li>
        <li>
          <a>Total infectées :</a>
          <a style="color: aliceblue;" [innerHTML]="world?.money | bigvalue"></a>
        </li>
        <li>
          <a class='content'>
            <button (click)="this.switchQtmulti()" class="invert">Acheter {{qtmulti}}</button>
          </a>
        </li>
        <li>
          <a class='content'>
          <button (click)="switchShowManagers()" class="invert">Managers</button>
        </a>
        </li>
      </ul>
    </nav>
  </div>



<div class="product-container" *ngFor="let product of world.products.product">
  
  <app-product [money] = "this.world.money" [prod] = "product" [qtmulti]="qtmulti" (notifyAchat)="onNotifyAchat($event)" (notifyProduction)="onProductionDone($event)">

  </app-product>
</div>
</div>

<div class="modal" *ngIf="showManagers">
  <div class="margin-manager">
    
  
  <button class="close-button" mat-button (click)="showManagers=false">X</button>
  <h1 class="title">Managers</h1>
  <hr />
  <div *ngFor="let manager of this.world.managers.pallier">
    <div *ngIf="!manager.unlocked" class="modal-layout">
      <div class="card-grid">
        <div class="card-grid-left">
          <div class="logo"><img style="height: 60px; width: 60px; border-radius: 60%;" [attr.src]="'http://localhost:8080' + manager.logo"></div>
        </div>
        <div class="card-grid-right">
          <div class="card-body">

            <div class="modal-text">
              <div class="card-title">
              <p>{{ manager?.name}}</p>
            </div>
            <div class="card-subtitle">
              <!-- <p>{{ world.products.product[manager.idcible-1].name }}</p> -->
              <p [innerHTML]="manager.seuil | bigvalue"></p>
            </div>
            </div>
            <button [disabled]="!(world.money>=manager.seuil)" (click)="hireManager(manager)" mat-raised-button
              color="primary" class="myButton" >Hire !</button>
          </div>
      
      </div>
      
  </div>
</div>
</div>
</div>
</div>
